.boot-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  z-index: 10000;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.boot-screen.hidden {
  display: none;
}

.boot-text {
  white-space: pre-wrap;
  line-height: 1.4;
}